modulo1/.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/
modulo2/main.aux
modulo2/main.fdb_latexmk
modulo2/main.bcf-SAVE-ERROR
modulo2/main.bcf
modulo2/main.fls
modulo2/main.out
modulo2/main.toc
modulo2/main.synctex.gz
.DS_Store